.name {
  z-index: 10;
  align-items: start;
  border-bottom: ;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 4;
  border-bottom: solid 1px white;
  display: ;
  justify-content: space-between;
}

@media (max-width: ${({theme})}) {
}
